<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6095a2">  <td>20/07/18 10:11:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EX_11JQery_UIFrame.beforeClass()[pri:0, instance:exercise.EX_11JQery_UIFrame@3a079870]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1014166943</td>   <td></td> </tr>
<tr bgcolor="6095a2">  <td>20/07/18 10:11:36</td>   <td>25569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EX_11JQery_UIFrame.f()[pri:0, instance:exercise.EX_11JQery_UIFrame@3a079870]">f</td> 
  <td>main@1014166943</td>   <td></td> </tr>
<tr bgcolor="6095a2">  <td>20/07/18 10:11:41</td>   <td>30173</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EX_11JQery_UIFrame.afterClass()[pri:0, instance:exercise.EX_11JQery_UIFrame@3a079870]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1014166943</td>   <td></td> </tr>
</table>
