<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9807f">  <td>20/07/18 11:35:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Ex07_IMDB_NG.beforeTest()[pri:0, instance:exercise.Ex07_IMDB_NG@7ea37dbf]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343856911</td>   <td></td> </tr>
<tr bgcolor="6095a2">  <td>20/07/18 11:37:56</td>   <td>123493</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Ex09Sample_Drop_Down.beforeClass()[pri:0, instance:exercise.Ex09Sample_Drop_Down@4b44655e]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343856911</td>   <td></td> </tr>
<tr bgcolor="6095a2">  <td>20/07/18 11:38:41</td>   <td>168303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ex09Sample_Drop_Down.dropDownSelector()[pri:0, instance:exercise.Ex09Sample_Drop_Down@4b44655e]">dropDownSelector</td> 
  <td>main@343856911</td>   <td></td> </tr>
<tr bgcolor="6095a2">  <td>20/07/18 11:39:03</td>   <td>190393</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Ex09Sample_Drop_Down.afterClass()[pri:0, instance:exercise.Ex09Sample_Drop_Down@4b44655e]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343856911</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/07/18 11:39:19</td>   <td>205884</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EX_11JQery_UIFrame.beforeClass()[pri:0, instance:exercise.EX_11JQery_UIFrame@290d210d]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343856911</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/07/18 11:40:16</td>   <td>262831</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EX_11JQery_UIFrame.f()[pri:0, instance:exercise.EX_11JQery_UIFrame@290d210d]">f</td> 
  <td>main@343856911</td>   <td></td> </tr>
<tr bgcolor="77e97b">  <td>20/07/18 11:40:29</td>   <td>275943</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EX_11JQery_UIFrame.afterClass()[pri:0, instance:exercise.EX_11JQery_UIFrame@290d210d]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343856911</td>   <td></td> </tr>
<tr bgcolor="e9807f">  <td>20/07/18 11:43:33</td>   <td>460095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ex07_IMDB_NG.testIMDB(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:exercise.Ex07_IMDB_NG@7ea37dbf]">testIMDB</td> 
  <td>main@343856911</td>   <td></td> </tr>
<tr bgcolor="e9807f">  <td>20/07/18 11:44:49</td>   <td>536362</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ex07_IMDB_NG.testIMDB(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:exercise.Ex07_IMDB_NG@7ea37dbf]">testIMDB</td> 
  <td>main@343856911</td>   <td></td> </tr>
<tr bgcolor="e9807f">  <td>20/07/18 11:45:41</td>   <td>588495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Ex07_IMDB_NG.testIMDB(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:exercise.Ex07_IMDB_NG@7ea37dbf]">testIMDB</td> 
  <td>main@343856911</td>   <td></td> </tr>
<tr bgcolor="e9807f">  <td>20/07/18 11:46:22</td>   <td>629402</td> <td>&nbsp;</td><td title="&lt;&lt;Ex07_IMDB_NG.afterTest()[pri:0, instance:exercise.Ex07_IMDB_NG@7ea37dbf]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@343856911</td>   <td></td> </tr>
</table>
